/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family: "Cairo", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Tajawal", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* end global rules */
/* *************************************************************/
/* start nav */

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #eee;
  z-index: 9;
  width: 95%;
  box-shadow: 0px 0px 7px#ddd;
}
@media (max-width:767px) {
nav .container {
  display: block;
  align-items: center;
}
}

nav .logo {
  display: flex;
  align-items: center;
}

nav .logo h1 {
  padding:10px 30px;
  color: blue;
  margin: 0;
  font-weight: 900;
  letter-spacing: -0.5px;
}
@media (max-width:767px) {
  nav .logo {
    text-align: center;
  }
  }  
nav .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
nav .links li{
  position: relative;
  overflow: hidden;
  background-color: #ddd;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
nav .links li:hover{
  background-color: rgba(153, 153, 153, 0.562);
  color:#0093d7ed;
}
nav .links li:hover a{
  color:#0093d7ed;
}
nav .links li ::before{
  content: "";
  width: 100%;
  height: 2px;
  background-color: #0093d7ed;
  top: 0;
  left: -80%;
  position: absolute;
  transition:0.3s;
}
nav .links li:hover nav .links li ::before {
  left: 0;
}
nav .links li ::after{
  content: "";
  width: 100%;
  height: 2px;
  background-color: #0093d7ed;
  bottom: 0;
  right: -80%;
  position: absolute;
  transition:0.3s;
}
nav .links li a {
  font-size: 20px;
  color : black;
}
.hidden{
  display: none;
}

/* end nav */
/* *************************************************************/
/* start header */
header {
  margin: 20px 0;
  position: relative;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
header .container .title p {
  font-size: 25px;
  color: black;
  margin: 5px;
}

header .container .title p span {
  color: #0093d7ed;
  font-weight: bold;
}

header .container .title h3 {
  font-size: 60px;
  color: blue;
  margin: 0;
  transition: 0.5s;
  cursor: pointer;
}

header .container .title h3:hover {
  transform: translateX(20px);
  transition: 0.5s;
}
@media (max-width:991px) {
  header .container .title h3:hover{
  transform: translateX(0);
  }
}
header .container .image img {
  max-width: 330px;
  margin-top: 20px;
  border-radius: 10px;
}

header .container .title .putton {
  margin: 20px 100px;
  width: fit-content;
  transition: 0.3s;
}

header .container .title .putton p a {
  color: white;
  font-weight: bold;
  background-color: #0093d7ed;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  font-size: 19px;
}

header .container .title .putton:hover {
  opacity: 0.4;
}

@media (max-width: 992px) {
  header .container .image img {
    display: none;
  }

  header .container .title {
    margin: 50px auto;
    text-align: center;
  }

  header .container .title .putton {
    margin: 20px auto;
  }
}

/* end header */
/* *************************************************************/
/* start section about */
.about .container {
  text-align: center;
  background-color: #eee;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 11px 10px 3px #ddd;
}

.about .container .title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.container .title i {
  color: blue;
  font-size: 20px;
  margin: 0 10px;
}

#left {
  animation: r-and-l 1s linear infinite;
  position: relative;
}

#right {
  animation: l-and-r 1s linear infinite;
  position: relative;
}

@keyframes r-and-l {
  0% {
    right: 0;
  }

  50% {
    right: 20px;
  }

  100% {
    right: 0;
  }
}

@keyframes l-and-r {
  0% {
    right: 0;
  }

  50% {
    right: -20px;
  }

  100% {
    right: 0;
  }
}

.about .container .title h3 {
  font-size: 40px;
  color: blue;
  margin: 10px 0;
}

.title .one {
  width: 60px;
  height: 1px;
  background-color: blue;
  border: none;
}

.title .two {
  width: 100px;
  height: 1px;
  background-color: blue;
  border: none;
  margin-top: 5px;
}

.about .container .pra p {
  font-size: 20px;
}

.about .container .pra span {
  color: blue;
}

.about .container .all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.226);
  width: 435px;
  margin: 10px auto;
  border-radius: 10px;
  flex-wrap: wrap;
}

.about .container .all h3 {
  font-size: 30px;
  color: blue;
}

.about .container .all p {
  font-size: 20px;
}

.about .container .all .hobbies {
  position: relative;
}

.about .container .all .hobbies::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 215px;
  background-color: blue;
  top: 50px;
  right: -55px;
}

@media (max-width: 767px) {
  .about .container .all {
    width: 350px;
  }

  .about .container .all .hobbies::after {
    right: -10px;
  }
}

/* end section about */
/* *************************************************************/
/* start section all books */
.all-books .container {
  margin: 20px auto;
}

.all-books .container .title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.all-books .container .title h3 {
  font-size: 30px;
  color: blue;
  text-align: center;
}

.all-books .container .books {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.all-books .container .books .book {
  background-color: #eee;
  text-align: center;
  width: fit-content;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  transition: 0.4s;
  cursor: pointer;
}

.all-books .container .books .book img {
  width: 150px;
  height: 200px;
}

.all-books .container .books .book p {
  font-size: 20px;
}

.all-books .container .books .book:hover {
  transform: scale(1.1);
  opacity: 0.4;
}

button {
  background-color: #0093d7ed;
  border-radius: 5px;
  display: flex;
  border: none;
  margin: 10px auto;
  padding: 10px 15px;
  font-size: 25px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.5;
}

/* end section all books */
/* *************************************************************/
/* start section progects */
.progects .container {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0px 11px 10px 3px #ddd;
  padding-bottom: 20px;
}

.progects .container .title {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progects .container .title h3 {
  text-align: center;
  font-size: 35px;
  color: blue;
  margin: 0;
}

.progects .container .pro .all-project {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  margin: 10px;
  flex-wrap: wrap;
}

.progects .container .pro .all-project .project {
  width: 250px;
  height: 250px;
  padding: 10px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 25px;
  transition: 0.5s;
}

.progects .container .pro .all-project .project img {
  width: 230px;
  height: 190px;
  border-radius: 10px;
}

.progects .container .pro .all-project .project p {
  color: black;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
}

.progects .container .pro .all-project .project:hover {
  opacity: 0.6;
  filter: grayscale();
  transform: scale(1.2);
  transition: 0.5s;
}

.progects .container .pro .all-project .project p:hover {
  color: blue;
}

/* end section progects */
/* *************************************************************/
/* start footer */

footer .container {
  background-color: #ddd;
  border-radius: 10px;
  padding: 10px;
  margin: 25px auto;
}

footer .container .title {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .container .title h3 {
  text-align: center;
  margin: 20px;
  font-size: 35px;
  color: blue;
}

footer .container .about {
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}


.communication_icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.communication_icons .icon {
  position: relative;
  display: flex;
  gap: 20px;
  color: black;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.communication_icons .icon li {
  position: relative;
  list-style: none;
  width: 40px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.communication_icons .icon li i {
  font-size: 30px;
  -webkit-text-stroke: 1px var(--clr);
  color: transparent;
}

.communication_icons .icon li::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  border-bottom: solid 1.8px var(--clr);
  transition: 0.5s ease-in-out;
  font-family: fontAwesome;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  color: var(--clr);
}

.communication_icons .icon li:hover::before {
  height: 100%;
}

.communication_icons .icon li:nth-child(1):before {
  content: '\f099';
}

.communication_icons .icon li:nth-child(2):before {
  content: '\f16d';
}

.communication_icons .icon li:nth-child(3):before {
  content: '\f09a';
}

.communication_icons .icon li:nth-child(4):before {
  content: '\f167';
}

.communication_icons .icon li:nth-child(5):before {
  content: '\f232';
}

footer .container .about p {
  color: white;
  background-color: #0093d7ed;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  width: 130px;
  margin: auto;
}

footer .container .about p:hover {
  opacity: 0.3;
}

footer .container .end p {
  text-align: center;
  font-size: 20px;
  color: blue;
  letter-spacing: 4px;
}

/* small */
@media (max-width: 768px) {
  footer .container .about {
    display: block;
  }

  footer .container .about p {
    margin: 7px auto;
  }

  footer .container .end p {
    font-size: 15px;
  }
}

/* end footer */